<nz-layout>
  <nz-sider nzWidth="160px">
    <div class="logo">
      <img class="icon">
      <div class="title">管理信息系统</div>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li nz-menu-item>
        <i nz-icon nzType="home" nzTheme="outline"></i>
        <span>系统首页</span>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="file-text" nzTheme="outline"></i>
        <span>订单管理</span>
      </li>
      <li nz-menu-item>
        <i nz-icon nzType="user" nzTheme="outline"></i>
        <span>用户管理</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header></nz-header>
    <nz-content>
      <nz-breadcrumb>
        <nz-breadcrumb-item>系统首页</nz-breadcrumb-item>
        <nz-breadcrumb-item>用户管理</nz-breadcrumb-item>
      </nz-breadcrumb>
      <div class="inner-content">Bill is a cat.</div>
    </nz-content>
    <nz-footer>ST By Angular</nz-footer>
  </nz-layout>
</nz-layout>