<!--
 * @LastEditTime: 2022-08-26 16:41:31
-->
<div class="container">
  <div class="chart-number">
    <ul>
      <li>
        <div class="number-left">
          <img src="../../assets/imgs/books.png" alt="">
        </div>
        <div class="number-right">
          <div class="title">当日订单</div>
          <div class="number">130,567<span>+10%↑</span></div>
        </div>
      </li>
      <li>
        <div class="number-left">
          <img src="../../assets/imgs/books.png" alt="">
        </div>
        <div class="number-right">
          <div class="title">当日订单</div>
          <div class="number">130,567<span>+10%↑</span></div>
        </div>
      </li>
      <li>
        <div class="number-left">
          <img src="../../assets/imgs/books.png" alt="">
        </div>
        <div class="number-right">
          <div class="title">当日订单</div>
          <div class="number">130,567<span>+10%↑</span></div>
        </div>
      </li>
      <li>
        <div class="number-left">
          <img src="../../assets/imgs/books.png" alt="">
        </div>
        <div class="number-right">
          <div class="title">当日订单</div>
          <div class="number">130,567<span>+10%↑</span></div>
        </div>
      </li>
      <li>
        <div class="number-left">
          <img src="../../assets/imgs/books.png" alt="">
        </div>
        <div class="number-right">
          <div class="title">当日订单</div>
          <div class="number">130,567<span>+10%↑</span></div>
        </div>
      </li>
    </ul>
  </div>
  <div class="chart-order">
    <div class="order-title">
      <div class="title">
        <i></i>订单与生产量趋势
      </div>
      <div class="segmented">
        <ul>
          <li class="current">本周</li>
          <li>本月</li>
          <li>本年</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="chart-pic"></div>
  <div class="chart-footer"></div>
</div>
<div class="show-btn">
  <div class="circle"></div>
  <div class="title">演示列表</div>
</div>
<div class="show-connect">
  <ul>
    <li>新建</li>
    <li>电话</li>
    <li>短信</li>
  </ul>
</div>